/* General Styles */
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 1;
    padding: 1; /* this padding if for the line black and sky blue */
    background-color: #FFA500; /* orange color */
}

/* Header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #000; /* pure black */
    padding: 40px 100px; /* this where the place the logo and business info */
}

header .logo img {
    max-width: 200%;
    height: auto;
    max-height: 100px;      /* logo size */
}

header .announcement {
    text-align: center;
    font-size: 1em; /* annoucemnt font size */
    color: #fff;
}

header .time-location {
    text-align: center;
    font-size: 1.0em;       /* for the digital time */
}

/* Navigation */
nav {
    background-color: #87CEEB; /* sky blue color */
    text-align: center;
    position: relative;
}

nav .menu-toggle {
    display: none;
    background-color: #2F2F2F; /* Dark blue */
   border-top: 2px solid #00008B;
    color: #2F2F2F;
    font-size: 2.1em;
    padding: 30px 30px;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 1;
    padding: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.0em;
    padding: 0px 15px; /* sky blue line */
    display: block;
}

nav ul li a:hover {
    background-color: #FFA500; /* orage */
    color: #333; /* Dark gray */
}

/* Footer */
footer {
    text-align: center;
    padding: 0px;          /* this is where the black color line with "© 2025 Top Choice Buildings. All rights reserved." */
    background-color: #333;
    color: #FFA500; /* orage color */
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: #87CEEB; /* sky blue */
    }

    nav .menu-toggle {
        display: inline-block;
    }

    nav ul.show {
        display: flex;
    }
}
